{% extends 'base.html' %}
{% block title %}
    个人信息
{% endblock %}
{% block label %}
    个人信息
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-7">
            <!-- Area Chart -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">个人详情</h6>
              </div>
              <div class="card-body">
                  <form action="" method="post" enctype="multipart/form-data">
                      <table class="table">
                          <tr>
                              <td rowspan="3" style="width: 300px;">
                                  <img style="width: 100%" src="/static/{{ user.photo }}" alt="">
                                  <input type="file" name="photo">
                              </td>
                              <th>姓名</th>
                              <td><input name="name" type="text" value="{{ user.name }}"></td>
                              <th>年龄</th>
                              <td><input name="age" type="text" value="{{ user.age }}"></td>
                          </tr>
                          <tr>
                              <th>性别</th>
                              <td>
                                  {% if user.sex == 0 %}
                                      <input name="sex" type="text" value="女">
                                  {% elif user.sex == 1 %}
                                      <input name="sex" type="text" value="男">
                                  {% else %}
                                      <input name="sex" type="text" value="{{ user.sex }}">
                                  {% endif %}
                              </td>
                              <th>身份</th>
                              <td><input name="identity" type="text" value="{{ user.identity }}"></td>
                          </tr>
                          <tr>
                              <th>学科</th>
                              <td><input name="subject" type="text" value="{{ user.subject }}"></td>
                              <th>阶段</th>
                              <td><input name="level" type="text" value="{{ user.level }}"></td>
                          </tr>
                          <tr>
                              <td colspan="5" style="text-align: center;">
                                  <input type="submit" value="提交">
                              </td>
                          </tr>
                      </table>
                  </form>
              </div>
            </div>

            <!-- Bar Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">课程表</h6>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>星期一</th>
                            <th>星期二</th>
                            <th>星期三</th>
                            <th>星期四</th>
                            <th>星期五</th>
                            <th>星期六</th>
                            <th>星期日</th>
                        </tr>
                        {% for i in range(n) %}
                            <tr>
                                {% for j in result[i] %}
                                    {% if j == 'empty' %}
                                        <td></td>
                                    {% else %}
                                        <td>{{ j }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>
      </div>
{% endblock %}